*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    background: transparent;
}

body{
    background: black;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px; 
    height: auto;
    margin-right: 0px;
    margin-top: 1px; 
    cursor: pointer;}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu a {
    color: white;
    margin: 0 20px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}

.menu a:hover{
    border-bottom: 2px solid white;
}

.auth-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.auth-links a {
    color: white;
    margin: 0 20px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}

.banner{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 5%;
}

.banner-text h4{
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    color: white;
    margin: 0 0 20px;
}

.banner-text p{
    color: white;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.img{
    width: 600px; 
    height: auto;
}

.banner-text a{
    display: inline-block;
    color: white;
    background: rgb(92, 110, 134);
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    transition: all .55s ease;
}

.banner-text a:hover{
    background: transparent;
    border: 1px  solid white;
    transform: translateX(8px);
}

.banner-text a.contactanos{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.auth-links a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.auth-links a {
    display: inline-block;
    color: white;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-left: 20px;
}

.auth-links a:hover {
    background-color: transparent;
    border-color: white;
    transform: translateX(8px);
}

.auth-links a.registrarse {
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.auth-links a.registrarse:hover {
    background-color: transparent;
    border-color: white;
    transform: translateX(8px);
}

.auth-links a.ingresar {
    background: rgb(92, 110, 134);
    border: 1px solid rgb(92, 110, 134);
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.auth-links a.ingresar:hover {
    background-color: transparent;
    border-color: white;
    transform: translateX(8px);
}
